<link rel="import" href="./main-page-styles.html">

<dom-module id="main-page">
  
  <template>
    <style includes="main-page-styles"></style>
    <button on-click="onGetName">Get Name</button>
  </template>

  <script src="./main-page.js"></script>
  
</dom-module>
